/* 
　　　 　　／＞　　フ
　　　 　　| 　_　 _ l
　 　　 　／` ミ＿xノ
　　 　 /　　　 　 |
　　　 /　 ヽ　　 ﾉ
　 　 │　　|　|　|
　／￣|　　 |　|　|
　| (￣ヽ＿_ヽ_)__)
　＼二つ

*/


body{ 
  background-color: rgb(252, 221, 165);
  color: rgb(131,148,150);
  max-width: 800px;
}

header {
  background-color: rgb(255, 204, 204);
  text-align: center;
  font-size: 120%;
  color: rgb(190, 81, 18);
}

p {
  background-color: aqua;
}

.birdbuttons{
  background-color:rgb(170, 228, 37);
  border-radius: 5px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 30px;
  margin: auto;
}

footer {
}


/*


*/

